* {
    font-family: monospace;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

div {
    padding: 50px;
}

h1 {
    font-size: 3.5rem;
    color: #3b4252;
}

p {
    font-size: 2.5rem;
}

.paragraph-color {
    color: #bf616a;
}